
.topslidimg{
    height: 300px;
}
.topsliderpage .topslidimg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.topsliderpage{
    display: flex;
  background-size: cover;
  background-repeat: no-repeat;
    padding: 5px;
    gap: 10px;
    background-blend-mode: hard-light;
}
.topslidimg{
    flex-basis: 50%;
}
.slidenamep{
    flex-basis: 40%;
    padding: 10px;
    background:lightgray;
}
.slidenamep p{
    color: white;
    font-size: 12px;
    font-weight: 500;
}